@using Molla.Foundation.OrderCloud.Models.Models
@model Molla.Foundation.OrderCloud.Models.Models.SupplierListResponse

<div class="owl-carousel owl-simple owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
'nav': false,
'dots': false,
'margin': 30,
'loop': false,
'responsive': {
'0': {
'items':2
},
'420': {
'items':3
},
'600': {
'items':4
},
'900': {
'items':5
},
'1024': {
'items':6
}
}
}">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 1199px;">
            @foreach (var supplier in Model.Items)
            {
                <div class="owl-item active" style="width: 169.667px; margin-right: 30px;">
                    <a href="@supplier.xp.Website" class="brand">
                        <img src="@((string)supplier.xp.LogoUrl)" alt="@((string)supplier.Name)" />
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><em class="icon-angle-left"></em></button><button type="button" role="presentation" class="owl-next"><em class="icon-angle-right"></em></button></div>
    <div class="owl-dots disabled">&nbsp;</div>
    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><em class="icon-angle-left"></em></button><button type="button" role="presentation" class="owl-next"><em class="icon-angle-right"></em></button></div>
    <div class="owl-dots disabled">&nbsp;</div>
</div>