<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:env="http://www.sitecore.net/xmlconfig/env">
	
	<sitecore>	
		<log4net>
			<appender name="AzureEventHubAppender" type="Molla.Foundation.Logging.AzureEventHubAppender, Molla.Foundation.Logging">				
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
			</appender>
			<logger name="AzureEventHubLogger" additivity="false">
				<level value="INFO" />
				<appender-ref ref="AzureEventHubAppender" />
			</logger>
		</log4net>
	</sitecore>
</configuration>